
@font-face {
  font-family: Plantin-Italic;
  src: url(/src/fonts/Plantin-Italic.woff);
  font-style: italic;
  font-weight: 400;
}

body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Plantin-Italic;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  width: 90vh;
  height: 90vh;

  font-family: LibreBaskervilleItalic;
}

.footer {
  position: absolute;
  bottom: 1rem;
  width: 100vw;
  text-align: center;

  font-size: 1rem;
}