body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@font-face {
  font-family: Plantin-Italic;
  src: url(/src/fonts/Plantin-Italic.woff);
  font-style: italic;
  font-weight: 400;
}


.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  min-width: 300px;
  min-height: 300px;

  font-family: LibreBaskervilleItalic;
}